.navbar-dashboard {
  
    .nav-link,
    .navbar-light {
      color: rgb(0, 0, 0) !important;
      font-size: 16px;
      font-weight: 400;
      margin: 0 10px;
    }
  
    .profile-picture {
      max-height: 40px;
    }
  
    .cart-badge {
      display: inline-block;
      min-width: 2em; /* em unit */
      padding: 0.3em; /* em unit */
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      background: #29a867;
      color: #fefefe;
      margin-left: -10px;
    }
  }
  