.shop-container {
    .card {
        margin: 10px 0 10px 0;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    a {
        text-align: center;
        font-size: 18px;
        color: #000000;
        text-decoration: none;
    }
}

.page-home {
    h5 {
      font-weight: 300;
      margin-bottom: 15px;
    }
  
    .store-trend-hero {
      margin-top: 30px;
    }
  
    .store-new-products {
      margin-top: 10px;
    }
  }